name: ci
on:
  - push
jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: '18'
      - name: Checkout repository
        uses: actions/checkout@master
      - name: Install dependencies
        run: npm ci
# Sorry, but fuck tests until they fix their compatibility shit, I don't have time for this..
#      - name: Run tests
#        run: make tests
      - name: Build package
        run: make
      - name: Publish package to NPM
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo '//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}' > .npmrc
          npm publish --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.MXFRIEND_NPM_PUBLISH }}
